<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- Based on the information collected in this site:
https://medium.com/@fahimhossain_16989/adding-startup-scripts-to-launch-daemon-on-mac-os-x-sierra-10-12-6-7e0318c74de1
-->
<plist version="1.0">
    <dict>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/bin:/usr/bin:/usr/local/bin</string>
        </dict>
        <key>Label</key>
        <string>com.hmarcelino.serverlocal.plist</string>
        <key>Program</key>
        <string>/Users/hugomarcelino/dotfiles/launchd/docker-machine.sh</string>
        <key>RunAtLoad</key>
        <true/>
        <key>UserName</key>
        <string>hugomarcelino</string>
        <key>GroupName</key>
        <string>staff</string>
        <key>StandardOutPath</key>
        <string>/tmp/com.hmarcelino.serverlocal.stdout</string>
        <key>StandardErrorPath</key>
        <string>/tmp/com.hmarcelino.serverlocal.stderr</string>
    </dict>
</plist>

