version: '3'

services:
  m3uproxy:
    image: hmarcelino/m3uproxy:latest
    container_name: m3uproxy
    environment:
      - "M3U_PROXY_HOSTNAME=server.local"
      - "M3U_PROXY_CHANNELS_URL=..."
    ports:
      - "9090:9090"
